@model TSD2491_MVC_Test.Models.MatchingGameModel
@{
    ViewData["Title"] = "Matching Game";
    
}

<style>
    .container {
        width: 400px;
    }

    .button {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }

    .submitButton {
        width: 70px;
        height: 40px;
        font-size: 15px;
    }
</style>

<h1>@ViewData["Title"]</h1>
<h2>TSD2491 - Oblig 1</h2>

<div class="container">
    <div class="row">
        @for (var emojiNumber = 0; emojiNumber < Model.GetShuffledAnimalsCount(); emojiNumber++)
        {
            var emoji = Model.ShuffledEmoji[emojiNumber];
            var uniqueDescription = $"Button #{emojiNumber}";
            <div class="col-3">
                @using (Html.BeginForm("ButtonClick", "Home", FormMethod.Post))
                {
                    <input type="hidden" name="emoji" value="@emoji" />
                    <input type="hidden" name="uniqueDescription" value="@uniqueDescription" />
                    <input type="submit" value="@emoji" class="btn button" />
                }
            </div>
        }
    </div>
    <div class="row">
        <h2>Matches found: <span id="matches-found">@Model.GetMatchesFound()</span></h2>
    </div>
    <div class="row">
        @if (Model.GetGameFinished())
        {
            <h3> <span id="game-finished-text">@Model.GetGameFinishedText()</span></h3>
        } 
        else
        {
            <h3> <span id="game-running-text">@Model.GetGameRunningText()</span></h3>
        }
    </div>
    Name: @ViewBag.Username;
        @using (Html.BeginForm("SaveUsername", "Home", FormMethod.Post)){
            <td>Enter Name: </td>
            <td>@Html.TextBoxFor(model => model.Username)</td>
            <td colspan="2"><input type="submit" value="Submit Form" /></td>
        }
    <div>
        @if (string.IsNullOrEmpty(Model.Username))
        {
            <p>No name entered</p>    
        }    
        else
        {
            <p><span id="name-of-player">Name: @Model.Username</span></p>
        }
    </div>
</div>